body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

// обнуление стилей база
h3,
p {
  margin: 0;
}
* {
  box-sizing: border-box;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

//стили для враппера контейнера
.wrapper {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0,0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

//стили для header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px;

  border-bottom: 1px solid #eaeaea;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerInfo {

}

.headerRight {
  display: flex;

}
.headerList {
  margin-right: 30px;
}

img  {
  margin-right: 15px;
}