body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

// обнуление стилей база
h3,
p {
  margin: 0;
}
* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}



//стили для враппера контейнера
.wrapper {
  position: relative;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0,0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

//стили для header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px;

  border-bottom: 1px solid #eaeaea;

  p {
    opacity: 0.5;
  }
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerInfo {

}

.headerRight {
  display: flex;

}
.headerList {
  margin-right: 30px;
}

img  {
  margin-right: 15px;
}

//стилизация content части
.content {
  padding: 40px;

  h1 {
    margin: 0;
  }
}

.contentTitle {
  //margin-bottom: 40px;
}

//стилизация карточки
.sneakers {
  display: flex;
}
.card {
  border: 1px solid #f8f8f8;
  padding: 30px;
  width: 220px;
  border-radius: 40px;
  margin-right: 40px;
  margin-top: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }

  span {
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;
  }

  b {
    font-size: 12px;
  }

  h5 {
    font-size: 14px;
    font-weight: 400;

  }
}
.favorite {
  position: absolute;
  cursor: pointer;
}

.cardBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardText {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

.button {
  background: white;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.button img {
  display: block;
  margin: auto;
}

//стили для поиска search
.contentBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.search {
  display: flex;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;

  }
}

//стили для корзинки блока справа drawer
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.drawer {
  display: flex;
  flex-direction: column;

  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: white;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  padding: 30px;

  h2 {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  img {
    cursor: pointer;
  }
}


.cartItem {
  display: flex;
  align-items: center;
  border: 1px  solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;

 p {
   font-size: 16px;
   margin: 0;
 }
  b {
    font-size: 12px;
  }

}
.items {
  flex: 1;
}
.cartItemImg {
  width: 70px;
  height: 70px;
  background-size: contain;
  background-position: 0 10px;
  background-repeat: no-repeat;
  margin-right: 20px;
}
.cartText {
  margin-bottom: 5px;
}
.cartInfo {
  margin-right: 20px;
}

.btnClose {
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

//стили для корзины итого и налог
.cartTotalInfo {
  div {
    flex: 1;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }

  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  .greenButton {
    position: relative;
    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }

}


.greenButton {
  width: 100%;
  height: 55px;
  background: #9DD458;
  border-radius: 18px;
  border: 0;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  transition: backdround 0.2s ease-in-out;

  &:hover {
    background: lighten(#9dd558, 5%);
  }
  &:active {
    background: darken(#9dd558, 5%);
  }

}