body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

// обнуление стилей база
h3,
p {
  margin: 0;
}
* {
  box-sizing: border-box;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

//стили для враппера контейнера
.wrapper {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0,0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

//стили для header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px;

  border-bottom: 1px solid #eaeaea;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerInfo {

}

.headerRight {
  display: flex;

}
.headerList {
  margin-right: 30px;
}

img  {
  margin-right: 15px;
}

//стилизация content части
.content {
  padding: 40px;

  h1 {
    margin: 0;
  }
}

.contentTitle {
  margin-bottom: 40px;
}

//стилизация карточки
.sneakers {
  display: flex;
}
.card {
  border: 1px solid #f8f8f8;
  padding: 30px;
  width: 220px;
  border-radius: 40px;
  margin-right: 40px;
  margin-top: 40px;

  span {
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;
  }

  b {
    font-size: 12px;
  }

  h5 {
    font-size: 14px;
    font-weight: 400;

  }
}

.cardBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardText {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

.button {
  background: white;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.button img {
  display: block;
  margin: auto;
}